<% content_for :navbar do %>
  <div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/patients">Patients</a></li>
        <li><a href="/phone_numbers">Phone Numbers</a></li>
    </ul>
    </nav>
  </div>
<% end %>

<h2>Home Index</h2>
<div>
  <table border="1">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>DOB</th>
        <th>Gender</th>
      </tr>
    </thead>
    <tbody>
      <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.fname %></td>
        <td><%= patient.lname %></td>
        <td><%= patient.dob %></td>
        <td><%= patient.gender %></td>
        <td>
          <form method="get" action="/patients/<%= patient.id %>">
            <button type="submit">Show</button>
          </form>
        </td>
        <td>
          <form method="get" action="/patients/<%= patient.id %>/edit">
            <button type="submit">Edit</button>
          </form>
        </td>
        <td>
          <form method="post" action="/patients/<%= patient.id %>">
            <input name="_method" type="hidden" value="delete" />
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>