<% content_for :navbar do %>
  <div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/patients">Patient Index</a></li>
    </ul>
    </nav>
  </div>
<% end %>
<form accept-charset="UTF-8" action="/patients/<%= @patient.id %>" class="edit_patient" id="edit_patient" method="post">
  <fieldset>
    <legend><span>Patient Information</span></legend>
    <input name="_method" type="hidden" value="put" />
    <label for="patient_fname">First Name: </label>
    <input id="patient_fname" name="patient[fname]" size="25" type="text" value="<%= @patient.fname %>" autofocus />
    <label for="patient_lname">Last Name: </label>
    <input id="patient_lname" name="patient[lname]" size="25" type="text" value="<%= @patient.lname %>" />
    <br />
    <label for="patient_dob">Date-of-Birth: </label>
    <input id="patient_dob" name="patient[dob]" size="10" type="text" value="<%= @patient.dob %>" />
    <label for="patient_gender">Gender: </label>
    <select name="patient[gender]">
      <option value="<%= @patient.gender %>" selected><%= @patient.gender %></option>
      <option value="M">M</option>
      <option value="F">F</option>
    </select>
    <label for="patient_ssn">SSN: </label>
    <input id="patient_ssn" name="patient[ssn]" size="9" type="text" value="<%= @patient.ssn %>" />
    <br />
    <label for="patient_race">Race: </label>
    <select name="patient[race]">
      <option value="<%= @patient.race %>" selected><%= @patient.race %></option>
      <option value="Americoid">Americoid</option>
      <option value="Australoid">Australoid</option>
      <option value="Caucasoid">Caucasoid</option>
      <option value="Khoesanoid">Khoesanoid</option>
      <option value="Negroid">Negroid</option>
      <option value="Sinoid">Sinoid</option>
    </select>
    <label for="patient_ethnicity">Ethnicity: </label>
    <select name="patient[ethnicity]">
      <option value="<%= @patient.ethnicity %>" selected><%= @patient.ethnicity %></option>
      <option value="African">African</option>
      <option value="African American">African American</option>
      <option value="Alaskan">Alaskan</option>
      <option value="Arabian">Arabian</option>
      <option value="Armenian">Armenian</option>
      <option value="Asian (Pacific)">Asian (Pacific)</option>
      <option value="Bangladeshi">Bangladeshi</option>
      <option value="Bulgarian">Bulgarian</option>
      <option value="Burmese">Burmese</option>
      <option value="Cambodian">Cambodian</option>
      <option value="Chinese">Chinese</option>
      <option value="Czechoslovakian">Czechoslovakian</option>
      <option value="Danish">Danish</option>
      <option value="Dutch">Dutch</option>
      <option value="East European">East European</option>
      <option value="English (British)">English (British)</option>
      <option value="Estonian">Estonian</option>
      <option value="Ethiopian">Ethiopian</option>
      <option value="French">French</option>
      <option value="German">German</option>
      <option value="Greek">Greek</option>
      <option value="Hawaiian">Hawaiian</option>
      <option value="Hebrew">Hebrew</option>
      <option value="Hispanic (Spanish)">Hispanic (Spanish)</option>
      <option value="Hungarian">Hungarian</option>
      <option value="Icelandic">Icelandic</option>
      <option value="Indian">Indian</option>
      <option value="Indonesian">Indonesian</option>
      <option value="Irish">Irish</option>
      <option value="Italian">Italian</option>
      <option value="Japanese">Japanese</option>
      <option value="Korean">Korean</option>
      <option value="Latvian">Latvian</option>
      <option value="Laotian">Laotian</option>
      <option value="Lithuanian">Lithuanian</option>
      <option value="Malaysian">Malaysian</option>
      <option value="Manx">Manx</option>
      <option value="Middle Eastern">Middle Eastern</option>
      <option value="Native American">Native American</option>
      <option value="Norwegian">Norwegian</option>
      <option value="Pakistani">Pakistani</option>
      <option value="Polish">Polish</option>
      <option value="Portuguese">Portuguese</option>
      <option value="Russian">Russian</option>
      <option value="Samoan">Samoan</option>
      <option value="Scottish">Scottish</option>
      <option value="Sri Lankan">Sri Lankan</option>
      <option value="Swedish">Swedish</option>
      <option value="Swiss">Swiss</option>
      <option value="Thai">Thai</option>
      <option value="Turkish">Turkish</option>
      <option value="Ukrainian">Ukrainian</option>
      <option value="Vietnamese">Vietnamese</option>
      <option value="Welsh">Welsh</option>
      <option value="Yugoslavian">Yugoslavian</option>
    </select>
    <br />
  </fieldset>
  <% if @phone_numbers.empty? %>
  <% puts "Array Empty" %>
    <fieldset>
      <legend><span>Phone 1 Information</span></legend>
      <label for="phone1_areacode">Area Code: </label>
      <input id="phone1_areacode" name="patient[phone_numbers_attributes][][areacode]" size="3" type="text" />
      <label for="phone1_prefix">Prefix: </label>
      <input id="phone1_prefix" name="patient[phone_numbers_attributes][][prefix]" size="3" type="text" />
      <label for="phone1_number">Number: </label>
      <input id="phone1_number" name="patient[phone_numbers_attributes][][number]" size="4" type="text" />
      <label for="phone1_extension">Extension: </label>
      <input id="phone1_extension" name="patient[phone_numbers_attributes][][extension]" size="5" type="text" />
      <label for="phone1_phtype">Type: </label>
      <select name="patient[phone_numbers_attributes][][phtype]" required>
        <option value="Home" selected>Home</option>
        <option value="Office">Office</option>
        <option value="Mobile">Mobile</option>
      </select>
    </fieldset>
    <fieldset>
      <legend><span>Phone 2 Information</span></legend>
      <label for="phone2_areacode">Area Code: </label>
      <input id="phone2_areacode" name="patient[phone_numbers_attributes][][areacode]" size="3" type="text" />
      <label for="phone2_prefix">Prefix: </label>
      <input id="phone2_prefix" name="patient[phone_numbers_attributes][][prefix]" size="3" type="text" />
      <label for="phone2_number">Number: </label>
      <input id="phone2_number" name="patient[phone_numbers_attributes][][number]" size="4" type="text" />
      <label for="phone2_extension">Extension: </label>
      <input id="phone2_extension" name="patient[phone_numbers_attributes][][extension]" size="5" type="text" />
      <label for="phone2_phtype">Type: </label>
      <select name="patient[phone_numbers_attributes][][phtype]" required>
        <option value="Home">Home</option>
        <option value="Office" selected>Office</option>
        <option value="Mobile">Mobile</option>
      </select>
    </fieldset>
    <fieldset>
      <legend><span>Phone 3 Information</span></legend>
      <label for="phone3_areacode">Area Code: </label>
      <input id="phone3_areacode" name="patient[phone_numbers_attributes][][areacode]" size="3" type="text" />
      <label for="phone3_prefix">Prefix: </label>
      <input id="phone3_prefix" name="patient[phone_numbers_attributes][][prefix]" size="3" type="text" />
      <label for="phone3_number">Number: </label>
      <input id="phone3_number" name="patient[phone_numbers_attributes][][number]" size="4" type="text" />
      <label for="phone3_extension">Extension: </label>
      <input id="phone3_extension" name="patient[phone_numbers_attributes][][extension]" size="5" type="text" />
      <label for="phone3_phtype">Type: </label>
      <select name="patient[phone_numbers_attributes][][phtype]" required>
        <option value="Home">Home</option>
        <option value="Office">Office</option>
        <option value="Mobile" selected>Mobile</option>
      </select>
    </fieldset>
  <% else %>
  <% puts "Array Not Empty" %>
    <% @phone_numbers.each do |phone_number| %>
    <fieldset>
      <legend><span>Phone <%= @index %> Information</span></legend>
      <input id="phone<%= @index %>_id" name="patient[phone_numbers_attributes][][id]" type="hidden" value="<%= phone_number.id %>" />
      <label for="phone<%= @index %>_areacode">Area Code: </label>
      <input id="phone<%= @index %>_areacode" name="patient[phone_numbers_attributes][][areacode]" size="3" text="type" value="<%= phone_number.areacode %>" />
      <label for="phone<%= @index %>_prefix">Prefix: </label>
      <input id="phone<%= @index %>_prefix" name="patient[phone_numbers_attributes][][prefix]" size="3" text="type" value="<%= phone_number.prefix %>" />
      <label for="phone<%= @index %>_number">Number: </label>
      <input id="phone<%= @index %>_number" name="patient[phone_numbers_attributes][][number]" size="4" text="type" value="<%= phone_number.number %>" />
      <label for="phone<%= @index %>_extension">Extension: </label>
      <input id="phone<%= @index %>_extension" name="patient[phone_numbers_attributes][][extension]" size="5" text="type" value="<%= phone_number.extension %>" />
      <select name="patient[phone_numbers_attributes][][phtype]" required>
        <option value="<%= phone_number.phtype %>" selected><%= phone_number.phtype %></option>
        <option value="Home">Home</option>
        <option value="Office">Office</option>
        <option value="Mobile">Mobile</option>
      </select>
    </fieldset>
    <% @index += 1 %>
    <% end %>
  <% end %>
  <input name="commit" type="submit" value="Update Patient" />
</form>
